body{
    background-image: url(./images/pintura.jpg);
    background-repeat: repeat;     
}

canvas{
    border: 3px solid #AF9ED4;   
}

#container{
    display: flex;
    justify-content: center;
}

#logos > img{
    width: 50px;
    height: auto;
}

#img-logos{
    display: flex;
    
}

#enemigo > img{
    width: 60px;
    height: auto;
}
