body{
    background-image: url(./images/pintura.jpg);
    background-repeat: repeat;     
}

canvas{
    border: 3px solid #AF9ED4;   
}

#container{
    display: flex;
    justify-content: center;
}

#logo{
    width: 500px;
    height: 300px;

}

#logos > img{
    height: 75px;
    width: auto;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, p {
    text-align: center;
    margin: 0;
}

 header > img {
     width: 300px;
 }

h1 {
    font-size: 3em;
    padding: 20px;
}

h2 {
    font-size: 2.5em;
    padding: 20px;
}

p {
    font-size: 1.5em;
    padding: 20px;
}

#locura{
    display: flex;
    justify-content: space-evenly;
}

#enemigo  img{
    height: 75px;
    width: auto;
}

#enemies{
    display: flex;
    justify-content: space-evenly;
    
}

#button{
    width: 100px;
    background-color: #AF9ED4;
    padding: 20px 40px;
    font-size: 2em;
    color: aliceblue;
    border-radius: 10px;
}

a{
    text-decoration: none;
}

#go {
    padding: 20px;
    display: flex;
    justify-content: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.5);
    padding: 20px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

